.content_main_calendar{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
}

//Modal
.datatime{
    border: none;
    padding: 15px;
    border: 1px solid grey!important;
    border-radius: 7px;
    width: 232px;
}
.datatime-group{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
