.container_register{
    width:300px;
    height:380px;
    padding:50px;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 25px;
}

.button_register{
    padding-top:20px;
    position: absolute;
    width: 100% - 25%;
    bottom: 0;
    transform: translate(0, -30px);
}
